<section id="{{ work.id }}"
         class="section">
  <div class="image main"
       style="background-image: url('../assets/{{ work.introImage }}')">
    <div class="card">
      <h2>{{ work.title }}</h2>
      <p>{{ work.description }}</p>
      <p>{{ work.date}}</p>
      {% if work.client %}
      <p>{{ work.client}}</p>
      {% endif %}
      <div class="tags">
        {% for tag in work.tags %}
        {% include tag.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
