<section id="{{ work.id }}"
         class="section">
  <div class="image main"
       style="background-image: url('../assets/{{ work.introImage }}')">
    <div class="card">
      <h2>{{ work.title }}</h2>
      <p>{{ work.description }}</p>
      <p>{{ work.date}}</p>
      {% if work.client %}
      <p>{{ work.client}}</p>
      {% endif %}
      {% if work.web %}
      <a href="{{ work.web }}" target="_blank">{{ work.web}}</a>
      {% endif %}
      {% include tags.html %}
    </div>
  </div>
  {% if work.images %}
  <div class="images">
    {% for image in work.images %}
    <img src="../assets/{{ image }}">
    {% endfor %}
  </div>
  {% endif %}
</section>
