<nav class="vertical">
  <ul>
    <li class="navigation-item"
        data-target="intro">
      <span class="marker"></span>
      <span class="label">Ich</span>
    </li>
    {% for work in site.data.works %}
    {% include navigation.html %}
    {% endfor %}
  </ul>
</nav>
<section id="intro"
         class="section intro">
  <div class="image main">
    <div class="card">
      <h2>Pascal Müller</h2>
      <h3>Dipl. Industrie Designer</h3>
      <p>Pascal Müller, geboren bei Muri in der Schweiz. Ich schloss nach meiner Ausbildung zum Maschinenzeichner das Industrie Design Studium an der Fachhochschule Nordwestschweiz (FHNW) ab. Danach arbeitete
        ich als System-Designer im Bereich der Netzwerkkommunikation bei Reichle & deMassari, sowie als wissenschaftlicher Mitarbeiter an der FHNW. Ich war ehrenamtlich am Aufbau des FABlabs der Stadt Leipzig beteiligt. Meine leidenschaft gilt nun der Konzeption und Entwicklung von komplexen Anwendungen.</p>
    </div>
  </div>
</section>
{% for work in site.data.works %}
{% include work.html %}
{% endfor %}
