$btn-text-color: #fff;

@mixin button($text-color, $bg-color) {
  border-color: $bg-color;
  background-color: transparent;

  &:hover {
    color: $text-color;
    background-color: lighten($bg-color, 2%);
  }
}

button,
.button {
  padding: $spacing-unit / 2 $spacing-unit;
  font-weight: $button-font-weight;
  transition: background-color 300ms ease;
  border-radius: $base-radius * 2;

  &:hover {
    @include hover-shadow();

    a & {
      text-decoration: none !important;
    }
  }
}

.button-stroke {
  border-width: 1px;
  border-style: solid;
}

.button-primary {
  @include button($btn-text-color, $brand-color);
}
