// Icons

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  transition: ease 200ms all;

  &:hover {

    @include hover-shadow();
    color: darken($brand-color, 5%);
  }
}
