/**
 * Icons
 */


.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    -webkit-transition: ease 200ms all;
    -moz-transition: ease 200ms all;
    -ms-transition: ease 200ms all;
    -o-transition: ease 200ms all;
    transition: ease 200ms all;
    &:hover {
        color: darken($brand-color, 5%);
        @include hoverShadow();
    }
}


