.me {
  background-image: url("/img/pascal-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: 2rem auto;
  width: 120px;
  height: 120px;
}
