// Mixins

// Mixin for radius with default:
@mixin radius($radius: $base-radius) {
  border-radius: $radius;
}


// Mixin for media queries with:
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin min-media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin hover-shadow($scale: 1.08) {
  transform: scale($scale);
  filter: drop-shadow(0 0 2px $grey-color);
}
