@import './variables.scss';

nav {
  color: $grey-color;

  &.vertical {
    position: fixed;
    right: 1rem;
    top: 50%;
    bottom: auto;
    text-align: right;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }

  ul {
    list-style: none;
  }

  .navigation-item {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    cursor: pointer;

    &.active {
      color: $brand-color;

      &:hover {
        color: $brand-color;
      }
    }

    &:hover {
      color: $grey-color-dark;
    }
  }

  .marker {
    margin-left: .5rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $grey-color;
  }
}
