/*+
  + Posts
  */

.post-preview{
  background-color: #fff;
  padding: $spacing-unit;
  box-shadow: 0 0 1px 1px rgba(220, 220, 220, 0.4), 0 0 2px 2px rgba(200, 200, 200, 0.2);
  @include radius();
  &:not(:last-child){
    margin-bottom: $spacing-unit;
  }
}


.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
}
