.tag {
  background-color: #fff;
  color: rgb(20, 20, 20);
  padding: .05rem .4rem;
  margin-right: .5rem ;
  border-radius: 2px;
  font-size: 0.8rem;
}

.tags {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
