// Our variables
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: rgba(247,247,247,1);
$brand-color:      #ef4942; //#47cde5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$screen-sm:        420px;
$screen-md:        720px;
$screen-lg:        1020px;

$on-palm:          600px;
$on-laptop:        $screen-md;



$heading-font-weight: 300;
$heading-font-color: $grey-color-dark;
$button-font-weight: 400;

$button-brand: $brand-color;
$button-default: $grey-color;
$base-radius: 2px;
