.section {
  min-height: 100vh;

  h2 {
    margin-bottom: 0;
  }

  h2, h3 {
    color: #fff;
  }

}

.card {
  padding: 2rem 2rem 1rem;
  bottom: 0;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  line-height: 1.5;
  max-width: 50rem;

  h1 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  p {
    margin-top: 1rem;
  }
}

.main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.main {
    margin: 2rem;
    height: calc(100vh - 4rem);
  }
}

#intro {
  .image {
    background-image: url("../assets/me.jpg");
  }
}
