$code-bg-color: #eef;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
  color: $heading-font-color;
}

h1 {
  font-size: calc(1.4rem + 0.4 * ((100vw - 10rem) / 40));
}

@media screen and (min-width: 50rem) {
  h1 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 10rem) {
  h1 {
    font-size: 1.2rem;
  }
}

a {
  color: $brand-color;
  text-decoration: none;
  cursor: pointer;
}

p {
  a {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    transition: color ease 400ms;
    border-bottom: 1px solid $brand-color;
  }

  a {
    animation-delay: 2s;
    transition: color ease 400ms;
    border-bottom: 1px solid $brand-color;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: $code-bg-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


.bold {
  font-weight: 400;
}

.small {
  font-size: .8em
}

.up {
  vertical-align: super;
  font-size: .6em;
}
