<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contextstudio | Portfolio</title>
    <link rel="stylesheet" href="{{ '../main.css' | url }}">
  </head>
  <body>
      {{ content | safe }}
      {% if script === 'portfolio.js' %}
      <script type="text/javascript">{% include "js/portfolio.js" %}</script>
      {% endif %}
      {% if script === 'git.js' %}
      <script type="text/javascript">{% include "js/git.js" %}</script>
      {% endif %}
      {% if script === 'scratch.js' %}
      <script type="text/javascript">{% include "js/scratch.js" %}</script>
      {% endif %}
  </body>
</html>
