<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contextstudio | Portfolio</title>
    <link rel="stylesheet" href="{{ '../main.css' | url }}">
  </head>
  <body>
      {{ content | safe }}
      <script type="text/javascript">{% include "js/portfolio.js" %}</script>
  </body>
</html>
