{% if work.draft != true %}
<section
  id="{{ work.id }}"
  class="section"
  style="background-color: #{{ work.theme }};">
  <div
    class="image main"
    style="background-image: url('../img/portfolio/{{ work.image }}')">
    <div class="card">
      <h2>{{ work.title }}</h2>
      <div class="small bold">{{ work.date}}</div>
      {% if work.client %}
      <div class="small">{{ work.client}}</div>
      {% endif %}
      <p>{{ work.description }}</p>
      {% if work.web %}
      <a href="http://{{ work.web }}"
         target="_blank">
        {{ work.web}}
      </a>
      {% endif %}
      {% include "layouts/tags.njk" %}
    </div>
  </div>
  {% if work.images %}
  <div class="images">
    {% for image in work.images -%}
    <img src="../img/portfolio/{{ image }}">
    {% endfor -%}
  </div>
  {% endif %}
</section>
{% endif %}
