<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper text-center">
            <div class="footer-col-12">
                <button class="button button-stroke button-primary" onclick="sendMail()">Email</button>
            </div>
        </div>
        <div class="footer-col-wrapper text-center">
            <div class=" footer-col-12">
                <ul class="social-media-list">
                    {% if site.xing_username %}
                    <li>
                        <a href="https://xing.com/profile/{{ site.xing_username }}" target="_blank">
                            <svg class="icon">
                                <use xlink:href="#xing" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a href="https://linkedin.com/in/pascal--mueller" target="_blank">
                            <svg class="icon">
                                <use xlink:href="#linkedin" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.stackshare %}
                    <li>
                        <a href="https://stackshare.io/paesku" target="_blank">
                            <svg class="icon">
                                <use xlink:href="#stackshare" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                            <svg class="icon">
                                <use xlink:href="#github" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                            <svg class="icon">
                                <use xlink:href="#twitter" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.keybase_username %}
                    <li>
                        <a href="https://keybase.io/paesku" target="_blank">
                            <svg class="icon">
                                <use xlink:href="#keybase" />
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>
